.container{
    position: absolute;
    top:80px;
    left:575px;
    height:560px;
    width:417px;
    background-color: black;
    border:3px solid white;
}
p.one{
    text-align: center;

}

.main{
    position:absolute;
    top:40px;
    left:102px;
    height:180px;
    width:180px;
    border-radius: 50%;
    background-color: rgb(106, 0, 255);
    text-align: center;
    font-size: 50px;
    padding:10px;
    border:7px solid white;
    
}

.increase{
    position:absolute;
    top:380px;
    left:25px;
    height:110px;
    width:110px;
    border-radius: 50%;
    background-color: rgb(255, 0, 85);
    border:4px solid white;
    font-weight: bolder;
}
p.first,p.second{
    font-size: 30px;
    text-align: center;
}
.decrease{
    position:absolute;
    top:356px;
    left:272px;
    background-color:gray;
    height:204px;
    width:145px;

}
.decrease2{
    
    height:110px;
    width:110px;
    border-radius: 50%;
    border:4px solid white;
    background-color:yellow;
    text-align: center;
    font-weight: bolder;
}

.reset{
    position:absolute;
    top:400px;
    left:167px;
    height:85px;
    width:85px;
    border-radius: 50%;
    background-color: rgb(0, 255, 64);
    font-weight: bolder;
    border:4px solid white;
}

p.third{
    font-size: 25px;
    text-align: center;
}